<a href="https://colab.research.google.com/github/SimranThakur0/ineuron-assignments/blob/main/Copy_of_FSDS_bootcamp_assignment_004_Oct_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [9]:
numbers = [12, 75, 150, 180, 145, 525, 50]
max_num = numbers[0]
for i in numbers:
  if i>max_num:
    max_num=i
print("largest number is: ",max_num)

largest number is:  525

Q2. Print all the even number between (1, 12).

In [15]:
i=0
for i in range(1,13):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [19]:
num = int(input("Enter number "))
sum=0
for i in range (1,num+1):
  sum=sum+i
print(sum)

Enter number 10
55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [20]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
b = []
for i in numbers:
    if i > 150:
        if i > 500:
            break
        continue
    if i % 5 == 0:
        b.append(i)
        
print(b)

[75, 150, 145]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [22]:
list1 = [10, 20, 30, 40, 50]
l=[]
for i in list1:
  l=[i]+l
print(l)

[50, 40, 30, 20, 10]